.top {
    height: 80px;
    width: 100%;
    /*background: #1f6fb2;*/
    text-align: center;
}

#left {
    width: 100%;
    height: 500px;
    background: red;
    text-align: center;
}

#right {
    width: 100%;
    height: 500px;
    background: pink;
}

.name-tournaments {
    color: red;
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Tahoma;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
    padding: 30px 20px 30px 0px;
    font-weight: bold;
    font-size: 20px;
}
